.contactContainer {
  display: flex;
  flex-direction: column;
  height: 100vmax;
  width: 100vmax;
  background-image: url(https://images.pexels.com/photos/39656/staircase-spiral-architecture-interior-39656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: 50% 25%;
  filter: grayscale(.9) opacity(.8) contrast(.7);
}



.contactDetails {
  margin-left: 10%;
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  margin-top: 20vmax;
  height: 30vmax;
  width: 100%;
  background-color: #b4ab9e;
  filter: opacity(.9);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  justify-content: start;
}

.contactH1 {
  font-size: 4vw;
  color: black;
  font-weight: 100;
  text-align: center;
}

.contactH5 {
  font-size: 2.5vw;
  color: black;
  font-weight: 100;
  margin-left: 5%;
  margin-top: 0 !important;
  /* align-content: center; */
  text-align: start;
}

