
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 105vmin;
    width: 100%;
}


#leftSideOfPage {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(https://as2.ftcdn.net/v2/jpg/04/33/98/87/1000_F_433988793_0awR36qHLm9KB9rWENHOVo4AmdsXOE0F.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3); 
    height: 105vmax;
    width: 50vw;  
    filter: contrast(200%) grayscale(.8); 
    padding: 0; 
    margin: 0;
}

#leftSideOfPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#rightSideOfPage {
    display: flex;
    flex-direction: column;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHUyMzQ0NTMxLWltYWdlLWt3dnk3bndtLmpwZw.jpg);
    background-size: cover;
    opacity: .8;
    filter: contrast(200%) grayscale(.9);
    height: 105vmax;
    width: 50vw;
    padding: 0;
    margin: 0;
}

#rightSideOfPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contentContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}

.homenavbar {
    display: flex;
    height: 5vmax;
    /* background-color: #252424; */
    background-color: #242424;
    width: 100vmax;
    position: fixed;
    z-index: 2;
    gap: 3%;
    align-items: center;
   
}

.homenavbarContainer {
    display: flex;
    width: 100vmax;
    /* height: 5vmax; */
    /* margin-right: 5%; */
    text-decoration: none;
    margin-bottom: 0px;
    font-family: "Marcellus" serif;
    align-items: center;
    
}

.homenavItem {
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    font-family: "Marcellus" serif;
    letter-spacing: 4px;
    text-decoration: none;
    margin-left: 5%;
}


.homebanner {
    display: flex;
    /* top: 0%;  */
    /* Adjust the vertical position */
    /* height: 10vh; */
    /* left: 0;
    right: 0; */
    width: 100vw;
    margin-top: 5vmax;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    /* padding: 0; */
    /* transform: translateY(-50%);  */
    /* Center the banner vertically */
    align-items: end;
    justify-content: center;
    /* z-index: 1000; */
}

.name {
    font-size: 5vw;
    /* margin: 0; */
    font-family: garamond;
    font-weight: 300;
    letter-spacing: 8px;
}

.introduction {
    /* background-color: rgba(0, 0, 0, 0.2); */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    /* margin-top: 75px; */
    height: 25vmax;
    width: 100vw;
    padding: 0;
    justify-content: center;
    align-items: center;
   
}

.introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.introductionText {
    /*when had display flex, didn't appear in center **/
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    background: inherit; /* Add this line */
    /* padding: 20px; */
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 200;
    font-style: normal;
    /* font-variation-settings:
        "wdth" 100; */
    font-size: 2.5vw;
    color: white;
    text-align: justify;
    opacity: 100%;
    width: 80vw;
    /* margin-right: 0; */
    isolation: isolate;
}

.philosophyBox {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    position: absolute;
    justify-content: space-around;
    gap: 3%;
    overflow: hidden;
    margin-top: 70vmax;
    /* top: 70%; */
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 40vmax;
    filter: brightness(1.2);  
}

.fourcatBox {
    position: relative;
    background-color: #260505;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 20vmax;
    height: 35vmax;
}

.fourcatText {
    display: flex;
    width: 90%;
    color: white;
    justify-content: start;
    text-align: start;
    font-size: 2.5vw;
    font-weight: 200;
    height: 10%;
    line-height: .9;
    margin: 5px;
    padding: 5px;
    letter-spacing: 2px;
    position: relative; 
    padding-top: 15px; 
}

.fourcatText::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}

.fourcatImage {
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90%;
    width: 100%;
    opacity: .9;
    filter: contrast(1.2) grayscale(.9) brightness(1.2);
}

/* .papersBox {
    position: relative;
    background-color: #242e37;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
}

.papersText {
    display: flex;
    width: 90%;
    color: white;
    justify-content: start;
    text-align: start;
    font-size: 30px;
    font-weight: 200;
    height: 10%;
    line-height: .9;
    margin: 5px;
    padding: 5px;
    letter-spacing: 2px;
    position: relative; 
    padding-top: 15px; 
}

.papersText::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}

.papersImage {
    background-image: url(https://www.sofo.org.uk/wp-content/uploads/2017/02/research.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90%;
    width: 100%;
    opacity: .9;
    filter: contrast(.8) grayscale(.5) brightness(1);
} */

/* .projectsBox {
    position: relative;
    background-color: #242e37;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
}

.projectsText {
    display: flex;
    width: 90%;
    color: white;
    justify-content: start;
    text-align: start;
    font-size: 30px;
    font-weight: 200;
    height: 10%;
    line-height: .9;
    margin: 5px;
    padding: 5px;
    letter-spacing: 2px;
    position: relative; 
    padding-top: 15px; 
}

.projectsText::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}

.projectsImage {
    background-image: url(https://dataconomy.com/wp-content/uploads/2022/03/server-computer.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90%;
    width: 100%;
    opacity: .9;
    filter: contrast(.8) grayscale(.7) brightness(1);
}

.coursesBox {
    position: relative;
    background-color: #242e37;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
}

.coursesText {
    display: flex;
    width: 90%;
    color: white;
    justify-content: start;
    text-align: start;
    font-size: 30px;
    font-weight: 200;
    height: 10%;
    line-height: .9;
    margin: 5px;
    padding: 5px;
    letter-spacing: 2px;
    position: relative; 
    padding-top: 15px; 
}

.coursesText::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}

.coursesImage {
    background-image: url(https://pbs.twimg.com/media/F0o3nS9WIAEsAia.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90%;
    width: 100%;
    opacity: .9;
    filter: contrast(.8) grayscale(.7) brightness(1);
} */
