/* .navContainer {
    display: flex;
    height: 80px;
    background-color: #282323

}

.navtextContainer {
    display: flex;
    height: 100%;
    margin-left: 5%;
    align-items: center;
}

.navItem {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: "Marcellus" serif;
    letter-spacing: 3px;
    margin: 20px;
} */